@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
.headline1,
.headline2,
.headline3 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  flex-direction: column;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: clamp(40px, 6.64vw, 85px);
  line-height: 130%;
}

h2 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: clamp(20px, 3.13vw, 40px);
  line-height: 130%;
}

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(16px, 2.5vw, 32px);
  line-height: 130%;
}

h4 {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: clamp(14px, 2.19vw, 28px);
  line-height: 120%;
}

h5 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(10px, 1.56vw, 20px);
  line-height: 140%;
}

.button {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(10px, 1.25vw, 16px);
  line-height: 140%;
}

.text {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: clamp(10px, 1.25vw, 16px);
  line-height: 140%;
}

.bold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(8px, 1.09vw, 14px);
  line-height: 140%;
}

.small {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: clamp(6px, 0.94vw, 12px);
  line-height: 140%;
}

.container {
  max-width: calc(960px + 220px + 40px);
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}

.col {
  padding-left: calc(10px);
  padding-right: calc(10px);
  flex-grow: 1;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  aspect-ratio: 16/9;
  width: 100%;
  margin-bottom: 130px;
}

section {
  margin-bottom: 200px;
}

body {
  background-color: #0B0B0F;
  max-width: 1280px;
  margin: 0 auto;
}

.hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-image: url("../img/Hero-bg.webp");
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.header {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  padding: 26px 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.header .menu-toggle {
  display: none;
}
.header__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.header__logo img {
  height: auto;
}
.header__nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.header__menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
}
.header__item {
  margin-right: 32px;
}
.header__link {
  text-decoration: none;
  color: #FFFFFF;
}
.header__btn {
  padding: 13px 32px;
  background: linear-gradient(239deg, #18C8FF 0%, #933FFE 100%);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.burger-menu div {
  width: 30px;
  height: 3px;
  background: white;
  transition: all 0.3s;
}

.nav {
  display: flex;
  gap: 20px;
}
.nav.active {
  display: flex;
}

@media (max-width: 768px) {
  .burger-menu {
    display: flex;
  }
  .nav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all 0.3s ease-in-out;
  }
  .nav.active {
    display: flex;
  }
}
main {
  padding: 130px;
  position: relative;
}
main .hero {
  position: relative;
  z-index: 1;
  margin-top: 120px;
}
main .hero__card {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  color: #FFFFFF;
  width: 100%;
  align-items: center;
}
main .hero__card .column {
  position: absolute;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 195px;
  height: 250px;
  background: radial-gradient(84.27% 69.09% at 100% 5.38%, rgba(223, 29, 255, 0.5) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(109.85% 100.31% at 8.46% 139.64%, rgba(62, 238, 227, 0.5) 49.21%, rgba(62, 69, 238, 0) 100%), linear-gradient(148.49deg, rgba(32, 33, 46, 0.8) 19.24%, rgba(37, 40, 58, 0.4) 100%, rgba(41, 46, 75, 0.28) 100%);
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 38.4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  border-radius: 40px;
  max-width: 100px;
  padding-left: 30px;
}
main .hero__card .column p {
  margin-left: 3px;
  font-weight: 400;
}
main .hero__card .column .image-frame {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  margin-top: 16px;
}
main .hero__card .column .image-frame__wrapper {
  margin-left: -4px;
  width: 23px;
  height: 40px;
  border-radius: 20px;
  transform: rotate(20deg);
  position: relative;
  display: flex;
}
main .hero__card .column .image-frame__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 2px);
  height: 90%;
  background: linear-gradient(180deg, #FFFFFF 0%, #606060 100%);
  border-radius: 10px;
  z-index: -1;
  transform: rotate(-10deg);
}
main .hero__card .column .image-frame__wrapper:last-child {
  margin-left: 0;
}
main .hero__card .column .image-frame__image {
  height: 100%;
  border-radius: 12px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-10deg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
main .hero__card .column {
  top: 90px;
  right: -120px;
}
main .hero__card .column:first-child {
  top: 270px;
  right: 100px;
}
main .hero__card .column:nth-child(even) {
  display: none;
}
main .hero__card .column:nth-child(odd) {
  font-size: 11px;
  max-width: 195px;
  box-sizing: border-box;
  width: 195px;
  height: 250px;
  background: radial-gradient(59.26% 91.83% at 17.69% 100%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(120.77% 90.44% at 137.44% 90.44%, rgba(62, 238, 227, 0.5) 29.6%, rgba(62, 69, 238, 0) 100%), linear-gradient(354.69deg, rgba(41, 46, 75, 0.525) 8.5%, rgba(37, 40, 58, 0.245) 87.31%, rgba(41, 46, 75, 0.245) 87.31%);
  border: 1px solid #FFFFFF;
  box-shadow: 0px 4px 38.4px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);
  border-radius: 40px;
}
main .hero__card .column:nth-child(odd) .image-frame {
  margin-top: 10px;
}
main .hero__decor {
  position: absolute;
  padding: 19px 15px;
  left: calc(50% - 112px);
  top: -20px;
  background: radial-gradient(189.96% 1058.34% at 110.22% -60.42%, rgba(72, 205, 255, 0) 0%, rgba(132, 112, 255, 0.7) 100%), radial-gradient(62.64% 89.41% at -5.37% -16.9%, rgba(61, 165, 245, 0.8) 0%, rgba(62, 69, 238, 0) 100%);
  filter: drop-shadow(0px 4px 70.5px rgba(180, 180, 180, 0.3));
  backdrop-filter: blur(50px);
  border-radius: 25px;
  transform: rotate(-3deg);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #FFFFFF;
  z-index: 0;
}
main .hero__decor::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 25px;
  padding: 1px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%);
  -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  z-index: -1;
}
main .hero__bottom {
  position: relative;
  width: 100%;
  margin: 0 auto;
  color: #FFFFFF;
  text-align: center;
  max-width: 800px;
  z-index: 3;
}
main .hero__bottom h3 {
  margin: 0 auto;
  font-size: 85px;
  font-weight: 900;
  letter-spacing: 0;
}
main .hero__bottom p {
  padding: 0 80px;
}
main .hero__bottom button {
  box-sizing: border-box;
  padding: 20px 48px;
  height: 62px;
  margin-top: 16px;
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  border-radius: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #F8F9FA;
  flex: none;
  order: 0;
  flex-grow: 0;
}
main .hero__coin1 {
  position: absolute;
  width: 545.5870364231;
  height: 675.0704349295;
  top: 24.35px;
  left: -300px;
  filter: blur(1.5px);
  transform: rotate(-35.44deg);
}
main .hero__coin2 {
  position: absolute;
  width: 177.23px;
  height: 185.02px;
  right: 0;
  top: 237px;
  transform: rotate(30deg);
  z-index: -1;
}
main .hero__eter {
  position: absolute;
  width: 107.043522151;
  height: 107.043522151;
  right: 173px;
  top: -170.1px;
  transform: rotate(-30deg);
}
main .hero__star1 {
  position: absolute;
  width: 61.0000005756;
  height: 60.0000005662;
  top: 0;
  left: 0;
  transform: rotate(-23.88deg);
}
main .hero__star2 {
  position: absolute;
  width: 31.2801395013;
  height: 30.7673507356;
  top: 365.1px;
  left: 282px;
  transform: rotate(15deg);
}
main .hero__star3 {
  position: absolute;
  width: 54;
  height: 53;
  top: 0;
  right: -50px;
}
main .hero::before {
  content: "";
  position: absolute;
  width: 617px;
  height: 520px;
  left: -100px;
  top: -100px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-image: url("/path-to-your-image/bg-gradient-img.png");
  background-size: cover;
  z-index: -1;
}
main .hero .hero-eclipse {
  position: absolute;
  top: -100px;
  left: 0;
  width: 300px;
  height: 300px;
  background: linear-gradient(180deg, #173B80 0%, #11573E 100%);
  filter: blur(100px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;
}
main .hero .hero-rectangle {
  position: absolute;
  top: -100px;
  left: 100px;
  width: 300px;
  height: 300px;
  background: linear-gradient(180deg, rgba(24, 255, 158, 0) 0%, #17FFE3 100%);
  filter: blur(100px);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  z-index: -2;
}
main .hero .hero-group2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 354.32px;
  height: 404.99px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  background-image: url("/path-to-your-image/group2.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}
main .hero .ellipse-purple {
  position: absolute;
  width: 675px;
  height: 314px;
  top: 90px;
  left: 202px;
  background: #7000FF;
  filter: blur(200px);
  z-index: -2;
}
main .hero .ellipse-pink {
  position: absolute;
  width: 475px;
  height: 314px;
  top: 90px;
  left: 477px;
  background: rgba(255, 0, 200, 0.3764705882);
  filter: blur(100px);
  z-index: -2;
}
main .hero .hero-eclipse-right {
  position: absolute;
  width: 603px;
  height: 603px;
  right: 0px;
  top: 73.14px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, rgba(255, 41, 195, 0.4) 100%);
  filter: blur(100px);
  z-index: -2;
}
main .hero .hero-rectangle-right {
  position: absolute;
  width: 289.73px;
  height: 411.07px;
  right: 0px;
  top: 251.84px;
  background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, #174AFF 100%);
  filter: blur(100px);
  z-index: -2;
}
main .token-sale {
  color: #FFFFFF;
  padding: 60px 20px;
  text-align: center;
}
main .token-sale__container {
  max-width: 500px;
  margin: 0 auto 100px auto;
}
main .token-sale h5 {
  color: #B982FF;
  margin-bottom: 4px;
}
main .token-sale h2 {
  margin-bottom: 24px;
}
main .token-sale__blocks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
main .token-sale__block {
  height: 330px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
  color: white;
}
main .token-sale__block img {
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
}
main .token-sale__block h3 {
  margin-bottom: 16px;
}
main .token-sale__block:nth-child(odd) {
  background: radial-gradient(60.52% 85.11% at 9.86% -26.12%, rgba(62, 238, 227, 0.5) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(65.97% 92.77% at 113.3% 120.61%, rgba(223, 29, 255, 0.35) 0%, rgba(62, 69, 238, 0) 100%), linear-gradient(97.94deg, rgba(41, 46, 75, 0.225) 0%, rgba(37, 40, 58, 0.105) 100%, rgba(41, 46, 75, 0.105) 100%);
}
main .token-sale__block:nth-child(even) {
  background: radial-gradient(38.19% 46.62% at 0% 105.61%, rgba(62, 238, 227, 0.5) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(30.88% 36.01% at 103.42% -8.18%, rgba(223, 29, 255, 0.35) 0%, rgba(62, 69, 238, 0) 100%), linear-gradient(97.94deg, rgba(41, 46, 75, 0.225) 0%, rgba(37, 40, 58, 0.105) 100%, rgba(41, 46, 75, 0.105) 100%);
}
main .main__section {
  position: relative;
  padding: 50px 0;
  color: #fff;
  width: 100%;
}
main .main__section .main__section__container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
main .main__section .title {
  display: block;
  text-align: center;
  margin: 0 auto 100px auto;
}
main .main__section .star {
  position: absolute;
}
main .main__section .star--1 {
  left: 5.83%;
  right: 83.14%;
  top: 80.44%;
  bottom: -158.34%;
}
main .main__section .star--2 {
  left: -150px;
  right: 100%;
  top: 90%;
  bottom: -137.49%;
}
main .main__section::before {
  content: "";
  position: absolute;
  width: 892px;
  height: 533px;
  left: 10%;
  top: 47px;
  transform: translateX(-50%);
  background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, rgba(255, 41, 195, 0.8) 100%);
  filter: blur(175px);
  z-index: 0;
}
main .main__section::after {
  content: "";
  position: absolute;
  width: 490px;
  height: 368px;
  left: 10%;
  top: 247px;
  transform: translateX(-50%);
  background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, rgba(23, 74, 255, 0.8) 100%);
  filter: blur(100px);
  z-index: 0;
}
main .left-column {
  flex: 1;
  position: relative;
}
main .sticky-content {
  position: sticky;
  top: 100vh;
  text-align: left;
}
main .right-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
main .cards-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  position: relative;
  height: 390px;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}
main .cards-wrapper::-webkit-scrollbar {
  display: none;
}
main .card {
  height: 100px;
  scroll-snap-align: start;
  margin-bottom: 50px;
  background: radial-gradient(65.97% 92.77% at -13.3% -20.61%, rgba(62, 238, 227, 0.5) 0%, rgba(62, 69, 238, 0) 100%), radial-gradient(144.76% 629.53% at -6.71% 100%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%), linear-gradient(277.94deg, rgba(41, 46, 75, 0.225) 0%, rgba(37, 40, 58, 0.105) 100%, rgba(41, 46, 75, 0.105) 100%);
  color: white;
  padding: 27px 63px;
  border-radius: 25px;
  transition: opacity 0.5s, transform 0.5s;
}
main .card:last-child {
  margin-bottom: 0;
}
main .accordion-section {
  max-width: 100%;
  margin: auto;
  padding: 60px 0 !important;
  color: white;
  text-align: center;
}
main .accordion-section h5 {
  color: #B982FF;
  font-size: 20px;
  font-weight: 600;
}
main .accordion-section h2 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 24px;
}
main .accordion-section p {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 40px;
  padding: 0 15px;
}
main .accordion-section .module {
  text-align: start;
  margin-bottom: 20px;
  overflow: hidden;
  background: linear-gradient(93.45deg, rgba(223, 29, 255, 0.2) 17.59%, rgba(155, 20, 177, 0.170746) 27.35%, rgba(124, 16, 141, 0.157118) 31.9%, rgba(69, 9, 79, 0.13368) 39.72%, rgba(0, 0, 0, 0.1038) 49.69%, rgba(9, 24, 30, 0.0914059) 56.77%, rgba(21, 60, 74, 0.0734936) 67.02%, rgba(72, 205, 255, 0) 92.93%), linear-gradient(180deg, rgba(41, 46, 75, 0.375) 0%, rgba(48, 58, 120, 0.5) 100%);
  backdrop-filter: blur(50px);
  padding: 15px;
}
main .accordion-section .module .module-header {
  width: 100%;
  background: transparent;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .accordion-section .module .module-content {
  display: none;
  padding: 10px;
  background: transparent;
  color: #FFFFFF;
}
main .accordion-section .module .module-content p {
  padding: 5px;
}
main .accordion-section .module p {
  color: #FFFFFF;
  padding: 0 15px;
  margin-bottom: 0;
}
main .accordion-section .module .nested-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 12px;
  padding: 6px 16px;
  gap: 5px;
  height: 29px;
  background: radial-gradient(50.94% 62.92% at 102.22% 50%, rgba(223, 29, 255, 0.5) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(115.05% 144.85% at -5.37% -16.9%, rgba(61, 165, 245, 0.5) 0%, rgba(62, 69, 238, 0) 100%), linear-gradient(97.94deg, rgba(41, 46, 75, 0.375) 0%, rgba(41, 46, 75, 0.175) 100%, rgba(48, 58, 120, 0.5) 100%);
  border-radius: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;
  position: relative;
}
main .accordion-section .module .nested-header .vector,
main .accordion-section .module .module-header .vector {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
main .accordion-section .module .nested-header.active .vector,
main .accordion-section .module .module-header.active .vector {
  transform: rotate(180deg);
}
main .accordion-section .module .nested-accordion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  order: 1;
}
main .accordion-section .module .nested-content {
  order: 2;
  color: #FFFFFF;
  display: none;
  position: relative;
  padding: 0 15px 50px 15px;
  font-size: 14;
  font-weight: 400;
  line-height: 140%;
  margin-top: 5px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1;
}
main .accordion-section .module .close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  border-radius: 37px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
main .accordion-section .module .close-button:hover {
  background-color: #d1e0f1;
}
main .accordion-section {
  max-width: 100%;
  margin: auto;
  padding: 60px 0 !important;
  color: white;
  text-align: center;
}
main .accordion-section h5 {
  color: #B982FF;
  font-size: 20px;
  font-weight: 600;
}
main .accordion-section h2 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 24px;
}
main .accordion-section p {
  font-size: 16px;
  opacity: 0.8;
  margin-bottom: 40px;
  padding: 0 15px;
}
main .accordion-section .module {
  display: flex;
  text-align: start;
  margin-bottom: 20px;
  overflow: hidden;
  background: linear-gradient(93.45deg, rgba(223, 29, 255, 0.2) 17.59%, rgba(155, 20, 177, 0.170746) 27.35%, rgba(124, 16, 141, 0.157118) 31.9%, rgba(69, 9, 79, 0.13368) 39.72%, rgba(0, 0, 0, 0.1038) 49.69%, rgba(9, 24, 30, 0.0914059) 56.77%, rgba(21, 60, 74, 0.0734936) 67.02%, rgba(72, 205, 255, 0) 92.93%), linear-gradient(180deg, rgba(41, 46, 75, 0.375) 0%, rgba(48, 58, 120, 0.5) 100%);
  backdrop-filter: blur(50px);
  padding: 0;
  justify-content: space-between;
}
main .accordion-section .module .column {
  padding: 15px;
}
main .accordion-section .module .right {
  display: flex;
  min-width: 20%;
  background: radial-gradient(53.14% 95.74% at 50% -16.14%, rgba(255, 255, 255, 0.36) 0%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(2.5px);
  border-radius: 111px 16px 16px 111px;
  align-content: center;
  align-items: center;
  justify-content: center;
}
main .accordion-section .module .right .image-frame__image {
  width: 100%;
  height: auto;
  transition: filter 0.3s ease;
}
main .accordion-section .module .right .image-frame__image.blue {
  filter: hue-rotate(0deg);
}
main .accordion-section .module .right .image-frame__image.purple {
  filter: hue-rotate(20deg);
}
main .accordion-section .module .right .image-frame__image.pink {
  filter: hue-rotate(50deg);
}
main .accordion-section .module .module-header {
  width: 100%;
  background: transparent;
  color: white;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .accordion-section .module .module-content {
  display: none;
  padding: 10px;
  background: transparent;
  color: #FFFFFF;
}
main .accordion-section .module .module-content p {
  padding: 5px;
}
main .accordion-section .module p {
  color: #FFFFFF;
  padding: 0 15px;
  margin-bottom: 0;
}
main .accordion-section .module .nested-header {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 12px;
  padding: 6px 16px;
  gap: 5px;
  height: 29px;
  background: radial-gradient(50.94% 62.92% at 102.22% 50%, rgba(223, 29, 255, 0.5) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(115.05% 144.85% at -5.37% -16.9%, rgba(61, 165, 245, 0.5) 0%, rgba(62, 69, 238, 0) 100%), linear-gradient(97.94deg, rgba(41, 46, 75, 0.375) 0%, rgba(41, 46, 75, 0.175) 100%, rgba(48, 58, 120, 0.5) 100%);
  border-radius: 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;
  position: relative;
}
main .accordion-section .module .nested-header .vector {
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}
main .accordion-section .module .module-header .vector {
  display: none;
}
main .accordion-section .module .nested-header.active .vector,
main .accordion-section .module .module-header.active .vector {
  transform: rotate(180deg);
}
main .accordion-section .module .module-header.active + .module-content {
  display: block;
}
main .accordion-section .module .module-header {
  cursor: default;
  pointer-events: none;
}
main .accordion-section .module .module-header + .module-content {
  display: block;
}
main .accordion-section .module .module-header::after {
  content: "";
  display: inline-block;
  transform: rotate(180deg);
}
main .accordion-section .module .nested-accordion {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  order: 1;
}
main .accordion-section .module .nested-content {
  order: 2;
  color: #FFFFFF;
  display: none;
  position: relative;
  padding: 0 15px 50px 15px;
  font-size: 14;
  font-weight: 400;
  line-height: 140%;
  margin-top: 5px;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1;
}
main .accordion-section .module .close-button {
  display: none;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  border-radius: 37px;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}
main .accordion-section .module .close-button:hover {
  background-color: #d1e0f1;
}
main .accordion-wrapper {
  position: relative;
  display: flex;
  color: white;
  background: radial-gradient(86.06% 112.86% at 86.86% 110.24%, rgba(223, 29, 255, 0.4) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(47.58% 75.96% at -5.37% -16.9%, rgba(61, 165, 245, 0.5) 0%, rgba(62, 238, 227, 0.1) 58.6%, rgba(62, 69, 238, 0) 94.1%), linear-gradient(97.94deg, rgba(41, 46, 75, 0.375) 0%, rgba(41, 46, 75, 0.175) 100%, rgba(48, 58, 120, 0.5) 100%);
  backdrop-filter: blur(52.4px);
  padding: 60px 80px;
  border-radius: 25px;
}
main .accordion-wrapper .star1 {
  position: absolute;
  width: 52px;
  height: 47px;
  top: 10px;
  left: 25px;
}
main .accordion-wrapper .star2 {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
main .accordion-wrapper .accordion-left {
  width: 40%;
  display: flex;
  flex-direction: column;
}
main .accordion-wrapper .accordion-left .image-frame__wrapper {
  width: 23px;
  height: 40px;
  border-radius: 13px;
  transform: rotate(10deg);
  position: relative;
  display: flex;
  overflow: hidden;
}
main .accordion-wrapper .accordion-left .image-frame__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% + 10px);
  height: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #606060 100%);
  border-radius: 10px;
  transform: rotate(10deg);
  z-index: -1;
}
main .accordion-wrapper .accordion-left .image-frame__image {
  border-radius: 12px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-10deg);
  width: 23px;
  height: 40px;
}
main .accordion-wrapper .accordion-left span {
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0%;
}
main .accordion-wrapper .accordion-left .accordion-button {
  background: none;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  text-align: left;
  color: #909090;
  font-size: 16px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 12px;
  box-shadow: none;
}
main .accordion-wrapper .accordion-left .accordion-button.active {
  color: #B982FF;
}
main .accordion-wrapper .accordion-left .accordion-button.active .image-frame__wrapper::before {
  background: linear-gradient(180deg, #B982FF 0%, #42068D 100%);
}
main .accordion-wrapper .divider {
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
main .accordion-wrapper .accordion-right {
  width: 60%;
  padding: 24px;
}
main .accordion-wrapper .accordion-right h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: 0%;
  margin-bottom: 24px;
}
main .accordion-wrapper .accordion-right p {
  font-weight: 400;
  font-size: 16px;
  line-height: 146%;
  letter-spacing: 0%;
  margin-bottom: 24px;
}
main .accordion-wrapper .accordion-right footer {
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  margin-bottom: 24px;
}
main .plans-service-slider {
  background: #0d0d0d;
  padding: 60px 20px;
  color: white;
  text-align: center;
}
main .plans-service-slider h5 {
  color: #B982FF;
  font-size: 20px;
  font-weight: 600;
}
main .plans-service-slider h2 {
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 24px;
}
main .plans-service-slider p {
  font-size: 16px;
  opacity: 0.8;
}
main .plans-service-slider .swiper {
  position: relative;
  width: 100%;
  margin: 100px auto;
}
main .plans-service-slider .swiper-slide {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  flex-direction: row;
  transition: transform 0.3s ease;
}
main .plans-service-slider .swiper-slide.hovered, main .plans-service-slider .swiper-slide.active {
  transform: scale(1.1);
  z-index: 2;
}
main .plans-service-slider .swiper-wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
main .plans-service-slider .slide-content {
  width: 100%;
  max-width: 800px;
}
main .plans-service-slider .slide-content .column {
  background: "#555";
  border-radius: 24px;
  padding: 45px 25px;
  max-width: 390px;
  text-align: left;
  color: white;
  background: radial-gradient(38.19% 46.62% at 0% 105.61%, rgba(223, 29, 255, 0.35) 0%, rgba(72, 205, 255, 0) 100%), radial-gradient(30.88% 36.01% at 103.42% -8.18%, rgba(62, 238, 227, 0.5) 0%, rgba(62, 69, 238, 0) 100%), linear-gradient(97.94deg, rgba(41, 46, 75, 0.225) 0%, rgba(37, 40, 58, 0.105) 100%, rgba(41, 46, 75, 0.105) 100%);
  border: 1px solid #B5B5B5;
  backdrop-filter: blur(50px);
  border-radius: 25px;
}
main .plans-service-slider .slide-content .column h5 {
  color: #F3F3F6;
  font-weight: 500;
  font-size: 22px;
  line-height: 26.4px;
  letter-spacing: 0%;
}
main .plans-service-slider .slide-content .column .headline3 {
  display: flex;
  color: #F3F3F6;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
}
main .plans-service-slider .slide-content .column .price {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 12px 0;
  border-bottom: 1px solid #ccc;
  margin-bottom: 12px;
}
main .plans-service-slider .slide-content .column .price .col {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
main .plans-service-slider .slide-content .column .price .col:nth-child(even) {
  flex: 0 0 45%;
}
main .plans-service-slider .slide-content .column .price .col .headline3 {
  color: #495057;
}
main .plans-service-slider .slide-content .column .price .col .pr1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34.8px;
  letter-spacing: 0%;
  color: #B982FF;
}
main .plans-service-slider .slide-content .column .price .col .pr1 span {
  font-size: 14px;
  font-weight: 400;
  color: #B982FF;
}
main .plans-service-slider .slide-content .column .price .col .tr1 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: 0%;
  text-decoration: line-through;
  color: #464648;
}
main .plans-service-slider .slide-content .column .price .col .tr1 span {
  text-decoration: none;
}
main .plans-service-slider .slide-content .column .price .col .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}
main .plans-service-slider .slide-content .column .price .col .row .group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
main .plans-service-slider .slide-content .column .price .col .row .pr2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #B982FF;
}
main .plans-service-slider .slide-content .column .price .col .row .pr2 span {
  font-size: 14px;
  font-weight: 400;
  color: #666;
}
main .plans-service-slider .slide-content .column .price .col .row .tr2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: 0%;
  text-decoration: line-through;
  color: #464648;
}
main .plans-service-slider .slide-content .column .price .col .row .tr2 span {
  text-decoration: none;
}
main .plans-service-slider .slide-content .column .price .cost {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0%;
  background: #FFD700;
  color: #070707;
  width: 30;
  height: 18;
  border-radius: 12px;
  gap: 10px;
  padding-right: 4px;
  padding-left: 4px;
}
main .plans-service-slider .slide-content .column .list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 16px;
}
main .plans-service-slider .slide-content .column .list li {
  font-size: 14px;
  margin-bottom: 6px;
  position: relative;
  padding-left: 16px;
}
main .plans-service-slider .slide-content .column .list li:before {
  content: "•";
  color: #F3F3F6;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  left: 0;
  top: 0;
}
main .plans-service-slider .slide-content .column button {
  width: 100%;
  background: linear-gradient(225deg, #18C8FF 14.89%, #933FFE 85.85%);
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 16px;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}
main .plans-service-slider .swiper-button-prev,
main .plans-service-slider .swiper-button-next {
  position: absolute;
  bottom: var(--swiper-pagination-bottom, 5px);
  top: var(--swiper-pagination-top, auto);
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .plans-service-slider .swiper-button-prev::after,
main .plans-service-slider .swiper-button-next::after {
  font-size: 10px;
  color: white;
}
main .plans-service-slider .swiper-button-prev {
  left: calc(50% - 40px);
}
main .plans-service-slider .swiper-button-next {
  right: calc(50% - 40px);
}
main .plans-service-slider .swiper-pagination-bullet {
  background: #B4B4B4;
}
main .plans-service-slider .swiper-pagination-bullet.swiper-pagination-bullet-active {
  transform: scale(1.5);
  background: linear-gradient(143.13deg, #933FFD 21.43%, #19C5FE 110.71%);
}

@media (max-width: 768px) {
  .header__nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #0B0B0F;
    transition: right 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header__nav::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 195, 255, 0.3) 0%, #FF29C3 100%);
    filter: blur(100px);
    opacity: 0.4;
    z-index: -1;
  }
  .header__nav.active {
    display: flex;
    right: 0;
    padding: 90px 50px;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .header__nav.active ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .header__nav.active ul li {
    list-style: none;
    padding-left: 32px;
  }
  .header__nav.active ul li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
  }
  .header .menu-toggle {
    display: block;
    cursor: pointer;
    position: fixed;
    color: #FFFFFF;
    top: 20px;
    right: 20px;
    z-index: 1;
  }
  .header__btn, .header__logo {
    display: none;
  }
  main {
    position: relative;
    margin-top: 100px;
    padding: 0 16px;
    overflow: hidden;
  }
  main .token-sale {
    text-align: center;
    padding: 40px 20px;
  }
  main .token-sale__blocks {
    flex-direction: column;
  }
  main .token-sale__blocks svg {
    display: none;
  }
  main .token-sale__block {
    height: auto;
  }
  main .main__section .main__section__container {
    gap: 24px;
    flex-direction: column;
  }
  main .main__section .main__section__container .left-column,
  main .main__section .main__section__container .right-column {
    color: #FFFFFF;
    width: 100%;
    align-items: center;
  }
  main .main__section .main__section__container .left-column .cards-wrapper .cards,
  main .main__section .main__section__container .right-column .cards-wrapper .cards {
    margin-bottom: 20px;
  }
  main .main__section .main__section__container .left-column {
    flex: 0;
  }
  main .main__section .main__section__container .title {
    height: 100%;
  }
  main .main__section .main__section__container .right-column .cards-wrapper {
    overflow-y: auto;
    height: 760px;
  }
  main .main__section .main__section__container .right-column .cards-wrapper .card {
    margin-bottom: 20px;
  }
  main .main__section--services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  main::before {
    content: "";
    position: absolute;
    width: 692px;
    height: 433px;
    left: 100%;
    top: 447px;
    transform: translateX(-50%);
    background: linear-gradient(180deg, rgba(0, 194, 255, 0) 0%, rgba(255, 41, 195, 0.8) 100%);
    filter: blur(175px);
    z-index: 0;
  }
  main::after {
    content: "";
    position: absolute;
    width: 290px;
    height: 268px;
    left: 100%;
    top: 647px;
    transform: translateX(-50%);
    background: linear-gradient(180deg, rgba(24, 75, 255, 0) 0%, rgba(23, 74, 255, 0.8) 100%);
    filter: blur(100px);
    z-index: 0;
  }
  main .star {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
